/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Center the map */
#mapid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1in solid cornflowerblue; /* 1 inch thick solid border in cornflower blue */
}
